.tweets {
    width: 100%;
}

.tweet {
    width: 100%;
    border: solid black;
    border-width: 3px;
    margin-top: 20px;
}

.tweet:last-child {
    margin-bottom: 20px;
}

.tweet:first-child {
    margin-top: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tweet img {
    width: 50px;
    height: 50px;
}

.tweet h4 {
    margin: 0px;
}

.tweet section {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet footer {
    border-top: solid black;
}

.tweet:hover {
    box-shadow: 10px 10px 5px #4057a15d;
}

.fas {
    color: #536ab6;
    font-size: 12pt;
}

.fas:hover {
    color: #d59423;
}