.tweets {
    width: 100%;
    /*color: #FFFFFF;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1; */
}

.tweet {
    width: 100%;
    border: solid black;
    border-width: 3px;
    margin-top: 15px;
    /*color: #FFFFFF;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1; */
}

.row {
    display: flex;
    flex-direction: row;
}

.tweet img {
    width: 50px;
    height: 50px;
}

.tweet section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet footer {
    border-top: solid black;
}